body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: url('E:\React_Projects\myfirstproject\src\Components\Image\images1.jpg');
  background-size: cover;
  background-position:center;
}