.signup-container {
  max-width: 500px;
  margin: auto;
  padding: 50px;
  border: 7px solid #ccc;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(228, 233, 196, 0.493);
  margin-top: 40px;
  }
  
  .signup-container h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    color: #333;
  }
  
  input {
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid #50d7a8;
    border-radius: 4px;
    width: 250px;
    height:20px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  
  .fixed-picture {
    position: fixed;
    top: 20px; 
    left: 20px; 
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1; 
  }
  .signup-complete {
    margin-top: 20px; /* Adjust this value as needed for the desired space */
    /* Additional styling for the Signup Complete section */
  }
  